<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bot Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" content="Tempatnya chatting bersama Bot bersama orang gabut">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" sizes="192x192" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/botchat-mobile.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="js/ads.js"></script>
</head>
<body onkeydown="secretKey(event);" onload="getNotifications();">
    <marquee></marquee>
        <p id="chat"><a id="no-message"></a></p><br>
        <input type="file"><br><br>
        <input type="text" id="message" placeholder="Ketik pesan" onkeydown="enterKey(event);">
        <input type="submit" id="send" value="Kirim" onclick="sendMessage();"><br>
        <input type="submit" value="Ganti Nama" onclick="changeName();">
        <input type="submit" value="Clear Chat" onclick="clearChat();">
        <input type="submit" value="History" onclick="getHistoryMessages();"><br><br>
        <div>Mode Chat :
        <input type="radio" name="selection" value="private" onclick="setPublic(false);" CHECKED>Private
        <input type="radio" name="selection" value="public" onclick="setPublic(true);">Public<br>
        <input type="hidden" name="selection-remove" value="remove"><br>
        </div>
    <br><br>
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8366721519003904" data-ad-slot="5934005616" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({})</script>
<script src="js/botchat.js"></script>
</body>
</html>
