<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Bot Chat</title>
    <meta name="description" content="Obrolan Dengan Bot Gratis!">
    <style>
#chat {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: absolute;
    width: absolute;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    overflow: auto;
    border-radius: 4px;
  }

.chat {
  width: absolute;
  height: absolute;
  text-align: left;
  font-size: 15px;
  background-color: #1a1630;
  border-radius: 5px;
}
    </style>
</head>
<body>
    <div id="chat">BOT CHAT<br><a id="nomsg"><br>Tidak ada pesan.</a></div>
        <input type="text" id="message" placeholder="Ketik pesan">
        <input type="submit" value="Kirim" onclick="sendMessage();">
        <input type="submit" value="Ganti Nama" onclick="changeName();">
    </div>
<script>
var newLine = unescape('%3Cbr%3E');
var nama = 'Kamu';

function changeName() {
nama = prompt('Silahkan ganti namamu :');
if (nama == null || nama == '') nama = 'Kamu';
}

function getDate() {
var date = new Date();
   return '[' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds() + '] ';
}

function sendMessage() {
var pesan = document.getElementById("message").value;
if (pesan == '') throw false;
var send = newLine + getDate() + nama + ': ' + pesan;
document.getElementById("nomsg").innerHTML = '';
document.getElementById("chat").innerHTML += send;
setTimeout(() => getBotMessage(pesan), 1000);
document.getElementById("message").value = '';
}

function getApikey() {
var xhr = new XMLHttpRequest();
var url = 'https://kuhong-api.herokuapp.com/api/getapikey';
xhr.open('GET', url, false);
xhr.send();
var json = JSON.parse(xhr.responseText);
    return json.free_apikey;
}

function getBotMessage(pesan) {
var xhr = new XMLHttpRequest();
var url = 'https://kuhong-api.herokuapp.com/api/simsimi?kata=' + pesan + '&apikey=' + getApikey();
xhr.open('GET', url, false);
xhr.send();
var json = JSON.parse(xhr.responseText);
var send = newLine + getDate() + 'Bot: ' + json.result;
document.getElementById("chat").innerHTML += send;
}
</script>
</body>
</html>
