<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" content="Test your JavaScript code here">
    <title>Run Console</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="js/fetcher.js"></script>
</head>
<body>
    <h2 class="title" style="text-align:center">Run Console</h2>
    <br><br>
    <div class="title-data">Input Code:</div>
    <br>
    <textarea class="data" style="background-color:#2b2b2b;color:white;width:100%;height:50%;font-size:12px;border:2px solid blue"></textarea>
    <br>
    <button class="run" onclick="runConsole();" style="width:50%;height:5%">Run</button><button class="clear" onclick="clearConsole();" style="width:50%;height:5%">Clear</button>
    <br><br><br><br>
    <div class="title-logs">Output Code:</div>
    <pre class="logs" style="background-color:#2b2b2b;color:#2b2b2b;font-size:12px;height:6%;border:2px solid blue"><code></code></pre>
    <br><br><br><br>
    <p class="watermark" style="text-align:center">Made with <i class="fas fa-heart" style="color:red"></i> by RC047.</p>
    <script>
var { highlight, highlightAuto, highlightAll, highlightElement, highlightBlock } = hljs;


document.querySelector('textarea[class=data]').placeholder = `
function base64(str) {
  return Buffer
    .from(str, 'utf-8')
    .toString('base64');
}

console.log(base64('example'));
`.trim();

function clearConsole() {
document.querySelector('textarea[class=data]').value = '';
document.querySelector('code').textContent = '...';
}

function runConsole() {
var data = document.querySelector('textarea[class=data]').value;
if (!data) return alert('Masukan kode JavaScript Anda!');
var res = fetchURI('https://kuhong-api.herokuapp.com/api/console', {
       method: 'POST',
       headers: 'application/x-www-form-urlencoded',
       body: 'data=' + encodeURIComponent(data)
   });
   document.querySelector('code').textContent = res.data.result.trim();
   document.querySelector('pre[class=logs]').style.height = '';
   return highlightAll();
}
    </script>
</body>
</html>
