<!DOCTYPE html>
<!-- Senggol dongg :V -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" content="Test your JavaScript code here">
    <title>Run Console</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="js/fetcher.js"></script>
</head>
<body>
    <h2 class="title" style="text-align:center">Run Console</h2>
    <br><br>
    <label for="language">Select Language:</label>
    <select class="language" name="language" oninput="onSelect();">
    	<option value="javascript">JavaScript</option>
        <option value="python">Python</option>
        <option value="php">PHP</option>
    </select>
    <br><br>
    <div class="title-data">Input Code Here:</div>
    <br>
    <textarea class="data" style="background-color:#2b2b2b;color:white;width:100%;height:50%;font-size:11px;border:2px solid blue"></textarea>
    <br>
    <button class="run" onclick="runConsole();" style="width:50%;height:5%">Run</button><button class="clear" onclick="clearConsole();" style="width:50%;height:5%">Clear</button>
    <br><br><br><br>
    <div class="title-logs">Output Code Here:</div>
    <pre class="logs" style="background-color:#2b2b2b;color:#2b2b2b;font-size:11px;height:6%;border:2px solid blue"><code></code></pre>
    <br><br><br><br>
    <p class="watermark" style="text-align:center">Made with <i class="fas fa-heart" style="color:red"></i> by RC047.</p>
    <script>
var { highlight, highlightAuto, highlightAll, highlightElement, highlightBlock } = hljs;


var javascript = unescape('const%20fetch%20%3D%20require%28%27node-fetch%27%29%3B%0A%0Aconst%20url%20%3D%20%27https%3A//kuhong-api.herokuapp.com/status%27%3B%0Afetch%28url%29%0A%20%20%20%20.then%28res%20%3D%3E%20res.json%28%29%29%0A%20%20%20%20.then%28console.log%29%0A%20%20%20%20.catch%28console.error%29%3B');
var python = unescape('from%20requests%20import%20get%3B%0A%0Aurl%20%3D%20%27https%3A//kuhong-api.herokuapp.com/status%27%3B%0Aresponse%20%3D%20get%28url%29.json%28%29%3B%0A%20%20print%28response%29%3B');
var php = unescape('%24url%20%3D%20%27https%3A//kuhong-api.herokuapp.com/status%27%3B%0A%24curl%20%3D%20curl_init%28%24url%29%3B%0Acurl_setopt%28%24curl%2C%20CURLOPT_RETURNTRANSFER%2C%20true%29%3B%0Acurl_setopt%28%24curl%2C%20CURLOPT_HTTPHEADER%2C%20%5B%0A%20%20%20%27Content-Type%3A%20application/json%27%0A%5D%29%3B%0A%24response%20%3D%20curl_exec%28%24curl%29%3B%0Acurl_close%28%24curl%29%3B%0A%0A%20%20echo%20%24response.PHP_EOL%3B');

function onSelect() {
var language = document.querySelector('select[class=language]').value;
if (!language) return alert('Upss... Terjadi Kesalahan!');
document.querySelector('textarea[class=data]').placeholder = language == 'javascript' ? javascript : language == 'python' ? python : language == 'php' ? php : 'Language not supported...';
}

function capital(text) {
   return text.slice(0, 1).toUpperCase() + text.slice(1).toLowerCase();
}

function tilt(text) {
   return unescape('%3Cvar%3E') + text + unescape('%3C/var%3E');
}

function clearConsole() {
document.querySelector('textarea[class=data]').value = '';
document.querySelector('code').textContent = tilt('Console has been cleared');
}

function runConsole() {
var type = document.querySelector('select[class=language]').value;
var data = document.querySelector('textarea[class=data]').value;
if (!data) return alert(`Silahkan masukan kode ${capital(type)} Anda`);
if (!type) return alert('Upss... Terjadi Kesalahan!');
var res = fetchURI('https://kuhong-api.herokuapp.com/api/console', {
       method: 'POST',
       headers: 'application/x-www-form-urlencoded',
       body: `type=${type}&data=${encodeURIComponent(data)}`
   });
   document.querySelector('code').textContent = res.data.result;
   document.querySelector('pre[class=logs]').style.height = '';
   return highlightAll();
}

document.querySelector('textarea[class=data]').placeholder = javascript;
    </script>
</body>
</html>
