<!-- Seenaknya lu liat2 kode gw,, lu emg bukan temen gw!!! -->

<script>
document.write('Waiting...');
window.setTimeout(() => {
document.write('Rendy has joined the chat');

setTimeout('goChat();', 1000);
}, 3000);

function goChat() {
lagi=prompt('Halo ngab,, lagi apa?');
if (!lagi) {
alert('Ajg gw nanya lagi apa doang kgk dijwb_-');
} else alert(`Oh ${lagi} ternyata..`);
alert('Ehh bentar.. Lu ngapain kesini?');
alert('Disuruh jan kesini malah kesini,, aneh lu mah');
alert('Lu bisa kesini gmn caranya?');
alert('Inikan tempat gw')
alert('Wkwkwkwkwk');
alert('Disini mah gak ada apa2');
alert('Mending lu cek deh pacarlu ada apa nggak');
alert('Periksa duitlu masih ada nggak');
alert('Periksa kopilu habis apa nggak');
alert('AWOAKAKAKAKAKK');
alert('Gak lucu ya?');
alert('Hemmm......');
batal=confirm('Gini aja.. coba lu pencet batal');
if (!batal) {
alert('Nahh Anak pintarr! :v');
} else alert('Disuruh pencet batal malah oke,, gak bisa baca lu??');
alert('Dhlah males ngomong ama lu');
nama = prompt('Oiyaa Salken gw Rendy,, namalu siapa??');
if (!nama) {
alert('Masukan namalu! lu gak punya nama kahh?? Ajg lu mah gitu,, gk mau kenalan sama ni org?? :(\n\nyaudah lah bye');
res = 'Lu itu orangnya sombong! Jadi orang gak mau kenalan :/';
document.write('<br>Rendy has left the chat');
} else {
alert(`Terimakasih ${nama}!\nLu jdi orang emang baik,, pengen temenan sama gw. Thanks ya :)`);
chat=confirm('Mau chat sama gw diwa gak?');
if (chat) {
window.location='https://wa.me/62895337278647';
} else document.write('<br>Rendy: Oke,, chatnya lain kali aja yaa No wa gw (+62895337278647)<br>Rendy has left the chat');
}
}
</script>
