<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Just A Simple API">
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate">
    <meta name="author" content="RC047">
    <title>Kuhong - Rest API</title>
    <meta property="og:site_name" name="og:site_name" content="Kuhong - Rest API">
    <meta property="og:title" name="og:title" content="Kuhong - Rest API">
    <meta property="og:url" name="og:url" content="https://kuhong-api.herokuapp.com">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" name="og:description" content="Just A Simple API">
    <link rel="apple-touch-icon" sizes="57x57" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="60x60" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="76x76" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="120x120" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="144x144" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="icon" type="image/png" sizes="96x96" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://i.ibb.co/frhZmyZ/pp.jpgg">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://kuhong-api.herokuapp.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
   <div class="text">
        <div class="status">
            <p><span class="typed-text"></span><span class="cursor typing"></span></p>
        </div>
   <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
   <video autoplay muted loop id="myVideo">
          <source src="https://g.top4top.io/p_1950sy2ne0.gif" type="video/gif">
        </video>
        <hr>
        <div class="readdocs">
            <p>Read <a href="/api">Docs.</a></p>
        </div>
    </div>
    <div class="bottom">
        <p>
            <a href="http://wa.me/62895337278647" target="_blank" rel="noopener noreferrer" class="sosmed"><i class="fab fa-whatsapp" aria-hidden="true"></i> WhatsApp</a>
        </p>
    </div>
</body>
<script src="js/home.js"></script>

</html>
