<!DOCTYPE html>
<!--JAMAN GINI BAKAT MASIH COPAS GAN?-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://telegra.ph/file/74d047366cedf9bc64320.jpg">
    <meta property="og:description" content="Free Rest Api For Developer">
    <title>LeysCoders || Api</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://telegra.ph/file/74d047366cedf9bc64320.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="https://telegra.ph/file/74d047366cedf9bc64320.jpg">
    <meta property="og:image" name="og:image" content="https://telegra.ph/file/74d047366cedf9bc64320.jpg">
    <meta name="theme-color" content="#ffffff">
    <audio autoplay="autoplay" hidden="hidden" src="https://l.top4top.io/m_19199ztp81.mp3"></audio>
<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <!-- add icon link -->
  </head>
  <body oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;">
<div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
    <div class="side-bar">
      <div class="close-btn">
        <i class="fas fa-times"></i>
      </div>
      <center class="profile">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2PINANlTG9CBct6E0XvI6jc6gRtpJ7qMrVCwBJPvgJ9TgR1dx1kQCCq0xoYy3Yu1qN9w&usqp=CAU" alt="">
        <p>Hafizh</p>
      </center>
      <div class="menu">
        <div class="item"><a href="/docs"><i class="fab fa-accusoft"></i>Documentation</a></div>
        <div class="item"><a href="https://trakteer.id/chizuru"><i class="fas fa-money-bill-wave"></i>Donasi</a></div>
        <div class="item"><a href="/api/game"><i class="fas fa-gamepad"></i>Mini Game</a></div>
        <div class="item"><a href="/medsos"><i class="fas fa-share-alt"></i>Media Social</a></div>
        <div class="item">
          <a class="sub-btn"><i class="fas fa-key"></i>Apikey<i class="fas fa-angle-right dropdown"></i></a>
          <div class="sub-menu">
          <a href="https://wa.me/18178544742?text=/start" class="sub-item">Create Apikey</a>
          <a href="/pembayaran" class="sub-item">Buy Premium Key</a>
          </div>
        </div>
      </div>
    </div>
    <section class="main">
      <h1 data-text="LeysCoders...">LeysCoders...</h1>
    </section>

    <script type="text/javascript">
    $(document).ready(function(){
      //jquery for toggle sub menus
      $('.sub-btn').click(function(){
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });

      //jquery for expand and collapse the sidebar
      $('.menu-btn').click(function(){
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
      });

      $('.close-btn').click(function(){
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
      });
    });
    </script>
<script>
  alert('Kalo iri bilang dek jangan cuma berani nyerang dari belakang')
  alrt('canda iri mental kok sembunyi xixi')
</script>
    <!-- box -->
    <div id="box">
      <div class="box">
          <p style="color:white">Kalau Bikin Apikey</p>
          <p style="color:white">Click aja <a href="https://wa.me/18178544742?text=/start" style="color:red">Create Apikey</a></p>
      </div>
      </div>

  </body>
</html>
<!-- TEMPLATE BY ZEKAIS -->
