<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:description" content="Just A Simple API">
    <title>Kuhong - Rest API</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/frhZmyZ/pp.jpg">
    <meta name="theme-color" content="#ffffff">
    <audio autoplay="autoplay" hidden="hidden" src="http://www.jplayer.org/audio/mp3/Miaow-snip-Stirring-of-a-fool.mp3"></audio>
    <link rel="stylesheet" href="css/loading.css">
    <link href="https://indrijunanda.github.io/RuangAdmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://indrijunanda.github.io/RuangAdmin/css/ruang-admin.min.css" rel="stylesheet">
    <meta http-equiv="refresh" content="10;url=https://kuhong-api.herokuapp.com/docs">
    <script data-ad-client="ca-pub-8366721519003904" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
    <div class="wavy">
    <span style="--i:1;">l</span>
    <span style="--i:2;">o</span>
    <span style="--i:3;">a</span>
    <span style="--i:4;">d</span>
    <span style="--i:5;">i</span>
    <span style="--i:6;">n</span>
    <span style="--i:7;">g</span>
    <span style="--i:8;">.</span>
    <span style="--i:9;">.</span>
    <span style="--i:10;">.</span>
    <span style="--i:11;"></span>
</div>
</body>
</html>
