<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
</head>
<body onload="login();">
<script>
function login() {

var login = true;
var name = null;

while (login) {
name = prompt(`
LOGIN REQUIRED :

* Silahkan masukan namamu disini untuk melanjutkan :
`.trim());

if (name == null) alert('Login dibutuhkan!');
else if (name == '') alert('Nama tidak bisa kosong!');
else if (name !== '') login = false;
}

fetchURI('https://kuhong-api.herokuapp.com/api/login', {
     method: 'POST',
     headers: 'application/x-www-form-urlencoded',
     body: 'name=' + name
});

if (login == false) return window.location = 'https://kuhong-api.herokuapp.com/docs';
}
</script>
<script src="js/fetch.js"></script>
</body>
</html>
