<script src="js/fetch.js"></script>
<script>
login();

function login() {

var login = false;
var name = null;
var res = fetchURI('https://kuhong-api.herokuapp.com/database.json');
var ip = fetchURI('http://api.ipify.org');
if (!(res.data.name || res.data.publicIP == ip.data)) login = true;

while (login) {
name = prompt(`
LOGIN REQUIRED :

* Silahkan masukan namamu disini untuk melanjutkan :
`.trim());

if (name == null) alert('Login dibutuhkan!');
else if (name == '') alert('Nama tidak bisa kosong!');
else if (name !== '') login = false;
}

fetchURI('https://kuhong-api.herokuapp.com/api/login', {
     method: 'POST',
     headers: 'application/x-www-form-urlencoded',
     body: 'name=' + name
});

if (login == false) return window.location = 'https://kuhong-api.herokuapp.com/docs';
}
</script>
