#chat {
  width: 295px;
  height: fixed;
  border-color: #000;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  margin: 1px;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
  font-size: 13px;
}

.chat {
  text-align: left;
  width: fixed;
  height: fixed;
  background-color: #fff;
  border-radius: 5px;
}

#message {
  width: 252px;
  height: 30px;
}

#send {
  height: 30px;
}
